<section class="pt-28 m-0 min-h-screen">
  <div class="pb-10 flex flex-col justify-center">
    <div class="m-0">
      <img
        class="border-none"
        src="assets/image/logo.svg"
        alt="image"
        height="auto"
        class="mx-auto md:w-[30vw] lg:w-[30%] sm:w-[10%]"
      />
    </div>
    <div class="mx-auto pt-0">
      <h1 class="text-primary text-[100px]">OpiniX</h1>
    </div>
    <div class="pl-5 mx-auto">
      <h2 class="max-w-xl text-third text-center text-2xl">
        A simple NLP application for sentiment analysis for presidential
        candidate based on Twitter opinions.
      </h2>
    </div>
  </div>
</section>
