<section class="min-h-screen flex flex-col">
    <h1>Helloworld!</h1>
        <div class="pt-28 mx-auto">
          <a class="upload-item">Upload Your XLSX: </a><span>&nbsp;&nbsp;</span>
          <label class="file">
            <input type="file" id="file" aria-label="File browser example" accept = ".xlsx" (change)="onFileSelected($event)">
            <span class="file-custom"></span>
          </label>
          <span>&nbsp;&nbsp;</span>
          <a class="upload-item">aaaaaaa</a>
        </div>
</section>
